<div class="container pt-5 ">
    <div class="container">
        <h1 class=" ">All Blog Posts</h1>
        <button type="button" class="btn btn-success my-3">Add New Post</button>
    </div>
</div>

<div class=" container overflow-auto  mt-2 " style="height:70vh">
    <% articles.forEach((item,i) => { %>
        <div class="container mt-3">
            <div class="row">
                <div class="w-100 card rounded-lg shadow-sm p-3 mb bg-white rounded">
                    <h3 class=" my-2 mx-2 ">
                        <%= item.title %>
                    </h3>
                    <div class=" my-1 mx-2">
                        <%= item.description %>
                    </div>
                    <div class=" my-1 mx-2">
                        <%= item.createdAt %>
                    </div>
                    <div class="buttons m-2 d-inline-flex d-flex justify-content-between">
                        <button type="button" class="btn btn-light mt-2 ml-0 mr-1 btn-lg">Read More</button>
                        <div>
                            <button type="button" class="btn btn-warning mt-4 mx-1 btn-sm">Edit</button>
                            <button type="button" class="btn btn-danger mt-4 mx-1 btn-sm">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>