<% articles.forEach(item => { %>
    <div class="m-4">
        <div class="card m-2 ">
            <%= item.title %>
        </div>
        <div class="card m-2 ">
            <%= item.description %>
        </div>
        <div class="card m-2 ">
            <%= item.createdAt %>
        </div>
    </div>
    <% }) %> 